<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Create Product"
  (nzOnCancel)="handleCancel()"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [nzOkLoading]="isOkLoading"
>
  <ng-template #modalFooter></ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Product</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The title product is required">
          <input nz-input formControlName="title" id="title"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="count">Count</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The product count is required">
          <input nz-input formControlName="count" id="count"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="statee">State</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The state is required">
          <nz-select nzPlaceHolder="Select" formControlName="state" [(ngModel)]="product.state" >
            <nz-option nzLabel="Completed" nzValue="1"></nz-option>
            <nz-option nzLabel="Pending" nzValue="2"></nz-option>
            <nz-option nzLabel="Cancel" nzValue="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Update Product</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>


<button nz-button nzType="primary" nzSize="large" nzShape="circle" (click)="showModal()"  ><i nz-icon nzType="edit" nzTheme="outline"></i></button>

