<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <app-menu></app-menu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Reseller</nz-breadcrumb-item>
        <nz-breadcrumb-item>Products Details</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-footer></app-footer>
  </nz-layout>
</nz-layout>
